{{#animated-beacon name="trash"}}
  <button class="trash-todo__icon">
    {{svg-jar "trash" fill="currentColor" width="24px" height="24px"}}
    <span class="screen-reader-only">Trash</span>
  </button>

{{/animated-beacon}}
