html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: system, sans-serif;
  background-color: #fff;
}

.todo-lists {
  margin: 0 auto;
  max-width: 60rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-template-rows: 1fr;
  gap: 1rem;
  align-self: flex-start;
}
