.trash-todo {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #ECEFF1;
}

.trash-todo__icon {
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  border: 3px solid currentColor;
  border-radius: 50%;
  color: #D32F2F;
  background-color: #fff;
}
